form {
    display: inline-block;
}
label{
    font-family: p1;
    color: #ffffff;
    clear: left;
    float: left;
    margin-top: 10px;
}

input {
    clear: left;
    float: left;
    padding: 3px 5px;
    border-radius: 2px;
    -moz-border-radius: 2px;
}

.field {
    width: 200px;
    border: 1px solid #ffffff;
}

.field:focus {
    border: 1px solid #ffffff;
}

#action {
    margin-bottom: 20px;
    margin-left: 0px; 
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding: 12px 20px;
    width: 100%;
}

#errors {
    font-family: p1;
    color: #e50000;
}

.choiceButton {
    margin-bottom: 20px;
    margin-left: 0px; 
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding: 15px 30px;
    display:  block;
    width: 250px;
    clear:  left;
}

.required {
    font-family: p1;
    font-size: 8pt;
    color: #00cc00;
    vertical-align:top;
}