form {
    display: inline-block;
}
label{
    font-family: p1;
    color: #ffffff;
    clear: left;
    float: left;
    margin-top: 10px;
}

input {
    clear: left;
    float: left;
    padding: 3px 5px;
    border-radius: 2px;
    -moz-border-radius: 2px;
}

.field {
    width: 200px;
    border: 1px solid #ffffff;
}

.field:focus {
    border: 1px solid #ffffff;
}

#action {
    padding: 5px 10px;
    margin-bottom: 50px;
    margin-left: 100px; 
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 20px;
    width: 150px;
}

#errors {
    font-family: p1;
    color: #e50000;
}