@font-face
{
font-family: p1;
src: url(/fonts/open-sans/OpenSans-Light.ttf);
}

@font-face{
    font-family: p1b;
    src: url(/fonts/open-sans/OpenSans-Bold.ttf)
}

body{
    margin: 0px;
    background-color: #1b1a1a;
}

#header {
    background: rgb(65,196,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(65,196,0,1) 0%, rgba(45,114,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(65,196,0,1)), color-stop(100%,rgba(45,114,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(65,196,0,1) 0%,rgba(45,114,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(65,196,0,1) 0%,rgba(45,114,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(65,196,0,1) 0%,rgba(45,114,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(65,196,0,1) 0%,rgba(45,114,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41c400', endColorstr='#2d7200',GradientType=0 ); /* IE6-9 */
    width: 85%;
    height: 30px;
    font-family: p1, sans-serif;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-left: 15%;
}

.menuImg {
    width: 20px;
    margin-right: 10px;
    padding-top: 5px;
}

main {
    margin: 30px 50px 30px 50px;
}

p {
    font-family: p1;
    color: #ffffff;
}

.fineprint {
    font-size: 10pt;
}

a {
    text-decoration: none;
    text-decoration: underline;
    color: #ffffff;
    
}

h1 {
    font-family: p1;
    color: #ffffff;
    font-size: 16pt;
}

h2 {
    font-family: p1b;
    color: #ffffff;
    font-size: 14pt;
}