<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=localhost;Database=franzeni_tally;Uid=franzeni_iClient;Pwd=11773218d21e7bf4c5e40f7ba1" name="franzeni_tally" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
